# =================================
# AI Models
# =================================
*.pth
*.pt
*.ckpt
*.bin
*.gguf

# XTTS / Coqui
models/
checkpoints/

# =================================
# Environment
# =================================
.env
.env.*
env/
venv/
.venv/

# =================================
# Python
# =================================
__pycache__/
*.pyc
*.pyo
*.pyd

# =================================
# Logs
# =================================
log/
logs/
*.log

# =================================
# Outputs
# =================================
output/
outputs/

# =================================
# Audio
# =================================
*.wav
*.mp3

# =================================
# IDE
# =================================
.vscode/
.idea/

# =================================
# OS
# =================================
.DS_Store
Thumbs.db

# =================================
# Gradio
# =================================
gradio_cached_examples/

# =================================
# Whisper.cpp build
# =================================
whisper.cpp/build/